<div *ngIf="menuItems">
    <div class="header-bar first-level-menu">
        <nav>
            <ul>
                <li *ngFor="let menuItem of menuItems" [ngClass]="menuItem === activeMenuItem ? 'active': ''">
                    <a (click)="onMenuActivate(menuItem)" data-target="#">{{ menuItem.name | translate }}</a>
                </li>
            </ul>
            <div class="separator"></div>
        </nav>
    </div>
    <div style="padding-top: 80px"></div>

    <div *ngIf="activeMenuItem && activeMenuItem.subMenuItems">
        <div class="slm-nav-left">
            <ul class="second-level-menu">
                <li *ngFor="let subMenuItem of activeMenuItem.subMenuItems" [ngClass]="subMenuItem === activeMenuItem.activeSubMenuItem ? 'active' : ''">
                    <a (click)="onSubMenuActivate(subMenuItem)" data-target="#">{{ subMenuItem.name | translate }}</a>
                </li>
            </ul>
        </div>

        <div style="padding-top: 30px"></div>
    </div>
</div>